 /* Center the image on the page */
 html,
 body {
   height: 100%;
   margin: 0;
   display: flex;
   align-items: center;
   justify-content: center;
   background-color: #f4f4f9;
   flex-direction: column;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
 }
 
 img {
   max-width: 90%;
   max-height: 90%;
   border: 3px solid #4b3f6c;
   border-radius: 10px;
   position: relative;
   box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
 }
 
 .scanline {
   position: absolute;
   width: 100%;
   height: 5px;
   background: rgba(75, 63, 108, 0.5);
   animation: scanning 3s linear infinite;
   border-radius: 5px;
 }
 
 @keyframes scanning {
   0% {
     top: 0%;
   }
   100% {
     top: 100%;
   }
 }
 
 .pg-2 {
   text-align: center;
   margin-bottom: 20px;
   color: #4b3f6c;
   font-size: 1.5rem;
 }
 
 .pic {
   position: relative;
   display: inline-block;
 }
 video {
     width: 100%;
     border-radius: 10px;
     box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
     display: block;
   }